extends layout

block content
    .row
        .col-xs-12
                form(action="/api/users/1/notes", method="post", role="form")
                    .form-group
                        label(for='title') Title
                        input#title(name="title").form-control
                    .form-group
                        label(for='contents') Contents
                        input#contents(name="contents").form-control
                    button.btn.btn-default(type='submit') Add Note

                 .error= message
     .row
         .col-xs-12
                each Note in notes
                    - var oldTitle = Note.title
                    form(action="/api/users/1/notes/#{oldTitle}?_method=put", method="post", role="form")
                        .form-group
                            label(for='title') Title
                            input#contents(name="title" value=Note.title).form-control
                            .form-group
                            label(for='contents') Contents
                            input#contents(name="contents" value=Note.contents).form-control
                        button.btn.btn-primary(type='submit') Update Note
                    form(action="/api/users/1/notes/#{Note.title}?_method=delete", method="post", role="form")
                         button.btn.btn-danger(type='submit') Delete Note






